<!DOCTYPE html>
<html lang="en"><!-- InstanceBegin template="/Templates/headerfooter.dwt" codeOutsideHTMLIsLocked="false" -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>SEX Navigator</title>
    <!-- InstanceEndEditable -->
    <!-- Bootstrap t-->
    <link href="../public/stylesheets/bootstrap-4.0.0.css" rel="stylesheet">
	<link href="../public/stylesheets/sexnavicss.css" rel="stylesheet" type="text/css">
	<!-- icons etc. -->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
     <!-- InstanceBeginEditable name="ADDrel" -->
	  <!-- additional CSS -->
     <!-- InstanceEndEditable -->
  </head>
  <body>
<section class="header">
  <div class="container">
  	<div class="row">
    	<div class="col-4"><img src="../public/images/kleine-neu.png" class="img-fluid" alt="Placeholder image"></div>
    	<div class="col-8">
          <div class="row top">
			  <div class="text-right contacto col-sm-8 col-8 col-xl-10"><a href="#"><i class="far fa-envelope"></i><span class="contacttext">Contatto</span></a></div>
            <div class="text-right col-sm-4 col-4 col-xl-2">
<div class="dropdown show"> <a class="btn btn-sm dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-globe-americas"></i> DE </a>
            <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Deutsch</a>
				  <a class="dropdown-item" href="#">Italiano</a>  
			</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 text-right col-lg-8 col-xl-8 col-md-6 col-sm-4">
              <button type="button" class="btn btn-outline-success login" data-toggle="modal" data-target="#modalLRForm"><i class="fas fa-sign-in-alt"></i> Login</button>
              <button type="button" class="btn btn-outline-success register" data-toggle="modal" data-target="#modalLRForm"><i class="fas fa-user-plus"></i> Registrati</button>
				<button type="button" class="btn btn-outline-success d-lg-none" data-toggle="modal" data-target="#modalLRForm"><i class="fas fa-user-plus"></i> Account</button>
            </div>
            <div class="text-right offset-xl-0 col-lg-4 col-xl-4 col-md-6 col-sm-8 col-6">
              <button type="button" class="btn btn-secondary ann"><i class="fas fa-plus"></i> PUBBLICA ANNUNCIO</button>
			  <button type="button" class="btn btn-secondary d-sm-none"><i class="fas fa-plus"></i> PUBBLICA </button>
            </div>
          </div>
<!--Modal: Login / Register Form-->
<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Modal cascading tabs-->
     

        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fa fa-user mr-1"></i>
              Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fa fa-user-plus mr-1"></i>
              Register</a>
          </li>
        </ul>

        <!-- Tab panels -->
        <div class="tab-content">
          <!--Panel 7-->
          <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

            <!--Body--><form id="login" method="post">
            <div class="modal-body mb-1">

      <div class="input-group mb-3 mt-3">
        <div class="input-group-prepend">
          <div class="input-group-text"> <i class="fa fa-envelope prefix"></i></div>
        </div>
        <input type="text" class="form-control" id="loginmail" placeholder="E-Mail">
      </div>
				<div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text"> <i class="fa fa-lock prefix"></i></div>
        </div>
        <input type="password" class="form-control" id="loginpass" placeholder="password">
      </div>
              
              <div class="text-center mt-2">
                <button type="submit" class="btn btn-secondary">Log in <i class="fas fa-sign-in-alt"></i></button>
              </div>
			  </div></form>
            <!--Footer-->
            <div class="modal-footer">
              <div class="options text-center text-md-right mt-1">
                <p>Not a member? <a href="#panel8" data-parent="#panel7" data-target="#panel8">Sign Up</a></p>
                <p>Forgot <a href="#" class="blue-text">Password?</a></p>
              </div>
              <button type="button" class="btn btn-outline-success ml-auto" data-dismiss="modal">Close</button>
            </div>

          </div>
          <!--/.Panel 7-->

          <!--Panel 8-->
          <div class="tab-pane fade" id="panel8" role="tabpanel">

			  <!--Body--><form id="register" method="post">
            <div class="modal-body col-xl-12">
				<div class="input-group mb-3 mt-3">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa fa-envelope prefix"></i></div>
        </div>
        <input type="password" class="form-control" id="registermail" placeholder="E-Mail">
      </div>

              <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text"> <i class="fa fa-lock prefix"></i></div>
        </div>
        <input type="password" class="form-control" id="registerpass" placeholder="password">
      </div>

             <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text"> <i class="fa fa-lock prefix"></i></div>
        </div>
        <input type="password" class="form-control" id="loginpassrepeat" placeholder="repeat password">
      </div>

              <div class="text-center form-sm mt-2">
                <button type="submit" class="btn btn-secondary">Sign up <i class="fas fa-sign-in-alt"></i></button>
              </div>

            </div></form>
            <!--Footer-->
            <div class="modal-footer">
				
              <div class="options text-right">
                <p class="pt-1">Already have an account? <a href="#panel7" class="blue-text">Log In</a></p>
              </div>
              <button type="button" class="btn btn-outline-success waves-effect ml-auto" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!--/.Panel 8-->
        </div>

      
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Login / Register Form-->
    	</div>
  	</div>
  </div>
	<div class="row bg-dark">
	<div class="container">
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="/" class="navbar-brand mr-5" style="color:#E10581">SexNavi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar6">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-stretch" id="navbar6"><!-- InstanceBeginEditable name="Editnavbar" -->
      <ul class="navbar-nav">
        <li class="nav-item active"> <a class="nav-link" href="#">Home <span class="sr-only">Home</span></a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">Nuove Ragazze</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">Chierca avanzata</a> </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"> <a class="nav-link" href="#">Prezzi</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">Termi</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">Contatto</a> </li>
      </ul>
    <!-- InstanceEndEditable --></div>
</nav></div></div>
	
	
	<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar10">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Chierca avanzata</a>
                </li>
                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sezione</a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown1"> <a class="dropdown-item" href="#">Escort Donne</a> <a class="dropdown-item" href="#">Escord Uomini</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="#">Massagatrice</a> </div>
          </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Prezzi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contatto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>-->
	
	<!--<div class="row bg-dark">
	<div class="container">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark"> <a class="navbar-brand" href="#">SexNavi</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent1">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active"> <a class="nav-link" href="#">Home</a></li>
	      <li class="nav-item"> <a class="nav-link" href="#">Nuove Ragazze</a></li>
	      <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sezione</a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown1"> <a class="dropdown-item" href="#">Escort Donne</a> <a class="dropdown-item" href="#">Escord Uomini</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="#">Massagatrice1</a> </div>
          </li>
        </ul>
	    <form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
  </nav></div></div>-->
<!--<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-fixed-top">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarsExample11">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">NUOVE RAGAZZE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ESCORT DONNE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ESCORT UOMINI</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="#">MASSAGATRICE</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="#">PREZZI</a>
                </li>
				<li class="nav-item last-item">
                    <a class="nav-link" href="#">CONTATTO</a>
                </li>
            </ul>
        </div>
    </div>
</nav>-->
</section>
<!-- InstanceBeginEditable name="editcontent" --><section class="content">
  <hr>
  <div class="container">
    <div class="row">
      <div class="menubox col-sm-12 col-12 col-md-3">
        <div class="row">
          <div class="col-12 text-center mb-4">
            <label></label>
            <h6><span class="" id="span">Username</span></h6>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <button type="button" class="btn btn-primary managermenu" onClick="location.href = '';">Annunci Manager</button>
            <button type="button" class="btn btn-primary managermenu" onClick="location.href = '';">Crea Annunci</button>
            <button type="button" class="btn btn-primary managermenu active" onClick="location.href = '';">Mio Profilo</button>
            <button type="button" class="btn btn-primary managermenu" onClick="location.href = '';">Prezzi</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-9">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1>User name</h1>
				<br>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3"><!--left col-->
              
              <div class="text-center"> <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                <h6>Upload Foto...</h6>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input file-upload" id="profilepic">
                <label class="custom-file-label" for="profilepic">Premi</label>
              </div>
              <br>
            </div>
            <!--/col-3-->
            <div class="col-sm-9">
              <form class="form" action="##" method="post" id="Profileform">
                <div class="form-group">
                  <div class="col-xs-6">
                    <label for="first_name">
                    <h5>Nome</h5>
                    </label>
                    <input type="text" class="form-control" name="first_name" id="first_name" title="enter your first name if any." readonly>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-6">
                    <label for="last_name">
                    <h5>Cognome</h5>
                    </label>
                    <input type="text" class="form-control" name="last_name" id="last_name"  title="enter your last name if any." readonly>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-6">
                    <label for="mobile">
                    <h5>Telefono</h5>
                    </label>
                    <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-6">
                    <label for="email">
                    <h5>Email</h5>
                    </label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-6">
                    <label for="email">
                    <h5>Residenza</h5>
                    </label>
                    <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-6">
					  <hr>
                    <label for="verificaton">
                    <h5>Verifica</h5>
                    </label><br>
					  <label>verifica i tui annunci con un upload della tua ID</label>
                    <hr>
                    <div class="text-center"> <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                      <h6>Upload ID</h6>
                    </div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input file-upload" id="IDpic">
                      <label class="custom-file-label" for="IDpic">Premi</label>
                    </div>
                    <hr>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12"> <br>
                    <button class="btn btn-lg btn-secondary" type="submit">Salva</button>
                    <button class="btn btn-lg" type="reset">Reset</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- InstanceEndEditable -->
    <hr>
<footer class="pt-4 pb-4" id="contact">
		  <div class="container">
				<div class="row">
					<div class="col-4 mt-2 mb-4 offset-sm-1 offset-xl-0 offset-lg-0 offset-4  d-none d-sm-block">
					  <div class="row">
					    <div class="col-12 text-center">
						   <div class="row">
							  <div class="col-xl-12"><h6>&nbsp;</h6></div>
						  </div>
                        </div>
				      </div>
						<div class="row">
					    <div class="col-12 text-center">
						  <div class="d-none d-sm-block"><img src="../public/images/kleine-neu-weiß.png" class="img-fluid" alt="Placeholder image"></div> </div>
				      </div>
					</div>
					<div class="mt-2 mb-4 col-sm-5 col-xl-4 col-lg-4 offset-0 col-11" style="border-right:solid 1px #E10581;border-left:solid 1px #E10581;">
					    <div class="row mb-2">
						  <div class="col-11 offset-1">
							<h6 class="font-weight-bold">Navigatione</h6>
							</div>
					  </div>
					  <div class="row">
						  <div class="offset-1 col-1"><i class="fas fa-caret-right"></i></div>
						  <div class="col-auto"><a href="#">Pubblica Annuncio</a></div>
					  </div>
					  <div class="row">
						  <div class="offset-1 col-1"><i class="fas fa-caret-right"></i></div>
						  <div class="col-auto"><a href="#" data-toggle="modal" data-target="#modalLRForm">Registra</a></div>
					  </div>
						<div class="row">
						  <div class="offset-1 col-1"><i class="fas fa-caret-right"></i></div>
						  <div class="col-auto"><a href="#" data-toggle="modal" data-target="#modalLRForm">Login</a></div>
					  </div>
					
                    </div>
					<div class="mt-2 mb-4 offset-sm-1 offset-xl-0 offset-lg-0 col-9 col-xl-4 col-lg-4">
						<div class="row mb-2">
						  <div class="col-11 offset-1">
							<h6 class="font-weight-bold">Informationi</h6>
							</div>
					  </div>
					  <div class="row">
						  <div class="offset-1 col-1"><i class="fas fa-caret-right"></i></div>
						  <div class="col-auto"><a href="#">Termi</a></div>
					  </div>
					  <div class="row">
						  <div class="offset-1 col-1"><i class="fas fa-caret-right"></i></div>
						  <div class="col-auto"><a href="#">Prezzi</a></div>
					  </div>
						<div class="row">
						  <div class="offset-1 col-1"><i class="fas fa-caret-right"></i></div>
						  <div class="col-auto"><a href="#">Contatto</a></div>
					  </div>
					</div>
</div>
  </div>
  </footer>
		<!-- Copyright -->
		<section class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12 ">
						<div class="text-center text-white">
							&copy; 2018 Sex Navigator. All Rights Reserved.
						</div>
					</div>
				</div>
			</div>
  </section>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../public/javascripts/jquery-3.2.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../public/javascripts/popper.min.js"></script>
    <script src="../public/javascripts/bootstrap-4.0.0.js"></script>
	<!-- InstanceBeginEditable name="addscripts" -->
	 <!-- additional scripts -->
	<!-- InstanceEndEditable -->

  </body>
<!-- InstanceEnd --></html>