<!DOCTYPE html>
<html lang="en"><!-- InstanceBegin template="/Templates/headerfooter.dwt" codeOutsideHTMLIsLocked="false" -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>SEX Navigator</title>
    <!-- InstanceEndEditable -->
    <!-- Bootstrap t-->
    <link href="../public/stylesheets/bootstrap-4.0.0.css" rel="stylesheet">
	<link href="../public/stylesheets/sexnavicss.css" rel="stylesheet" type="text/css">
	<!-- icons etc. -->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
     <!-- InstanceBeginEditable name="ADDrel" -->
	  <!-- additional CSS -->
     <!-- InstanceEndEditable -->
  </head>
  <body>
<section class="header">
  <div class="container">
  	<div class="row">
    	<div class="col-4"><img src="../public/images/kleine-neu.png" class="img-fluid" alt="Placeholder image"></div>
    	<div class="col-8">
          <div class="row top">
			  <div class="text-right contacto col-sm-8 col-8 col-xl-10"><a href="#"><i class="far fa-envelope"></i><span class="contacttext">Contatto</span></a></div>
            <div class="text-right col-sm-4 col-4 col-xl-2">
<div class="dropdown show"> <a class="btn btn-sm dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-globe-americas"></i> DE </a>
            <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Deutsch</a>
				  <a class="dropdown-item" href="#">Italiano</a>  
			</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 text-right col-lg-8 col-xl-8 col-md-6 col-sm-4">
              <button type="button" class="btn btn-outline-success login" data-toggle="modal" data-target="#modalLRForm"><i class="fas fa-sign-in-alt"></i> Login</button>
              <button type="button" class="btn btn-outline-success register" data-toggle="modal" data-target="#modalLRForm"><i class="fas fa-user-plus"></i> Registrati</button>
				<button type="button" class="btn btn-outline-success d-lg-none" data-toggle="modal" data-target="#modalLRForm"><i class="fas fa-user-plus"></i> Account</button>
            </div>
            <div class="text-right offset-xl-0 col-lg-4 col-xl-4 col-md-6 col-sm-8 col-6">
              <button type="button" class="btn btn-secondary ann"><i class="fas fa-plus"></i> PUBBLICA ANNUNCIO</button>
			  <button type="button" class="btn btn-secondary d-sm-none"><i class="fas fa-plus"></i> PUBBLICA </button>
            </div>
          </div>
<!--Modal: Login / Register Form-->
<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Modal cascading tabs-->
     

        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fa fa-user mr-1"></i>
              Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fa fa-user-plus mr-1"></i>
              Register</a>
          </li>
        </ul>

        <!-- Tab panels -->
        <div class="tab-content">
          <!--Panel 7-->
          <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

            <!--Body--><form id="login" method="post">
            <div class="modal-body mb-1">

      <div class="input-group mb-3 mt-3">
        <div class="input-group-prepend">
          <div class="input-group-text"> <i class="fa fa-envelope prefix"></i></div>
        </div>
        <input type="text" class="form-control" id="loginmail" placeholder="E-Mail">
      </div>
				<div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text"> <i class="fa fa-lock prefix"></i></div>
        </div>
        <input type="password" class="form-control" id="loginpass" placeholder="password">
      </div>
              
              <div class="text-center mt-2">
                <button type="submit" class="btn btn-secondary">Log in <i class="fas fa-sign-in-alt"></i></button>
              </div>
			  </div></form>
            <!--Footer-->
            <div class="modal-footer">
              <div class="options text-center text-md-right mt-1">
                <p>Not a member? <a href="#panel8" data-parent="#panel7" data-target="#panel8">Sign Up</a></p>
                <p>Forgot <a href="#" class="blue-text">Password?</a></p>
              </div>
              <button type="button" class="btn btn-outline-success ml-auto" data-dismiss="modal">Close</button>
            </div>

          </div>
          <!--/.Panel 7-->

          <!--Panel 8-->
          <div class="tab-pane fade" id="panel8" role="tabpanel">

			  <!--Body--><form it="register" method="post">
            <div class="modal-body col-xl-12">
				<div class="input-group mb-3 mt-3">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa fa-envelope prefix"></i></div>
        </div>
        <input type="password" class="form-control" id="registermail" placeholder="E-Mail">
      </div>

              <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text"> <i class="fa fa-lock prefix"></i></div>
        </div>
        <input type="password" class="form-control" id="registerpass" placeholder="password">
      </div>

             <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text"> <i class="fa fa-lock prefix"></i></div>
        </div>
        <input type="password" class="form-control" id="loginpassrepeat" placeholder="repeat password">
      </div>

              <div class="text-center form-sm mt-2">
                <button type="submit" class="btn btn-secondary">Sign up <i class="fas fa-sign-in-alt"></i></button>
              </div>

            </div></form>
            <!--Footer-->
            <div class="modal-footer">
				
              <div class="options text-right">
                <p class="pt-1">Already have an account? <a href="#panel7" class="blue-text">Log In</a></p>
              </div>
              <button type="button" class="btn btn-outline-success waves-effect ml-auto" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!--/.Panel 8-->
        </div>

      
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Login / Register Form-->
    	</div>
  	</div>
  </div>
	<div class="row bg-dark">
	<div class="container">
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="/" class="navbar-brand mr-5" style="color:#E10581">SexNavi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar6">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-stretch" id="navbar6"><!-- InstanceBeginEditable name="Editnavbar" -->
      <ul class="navbar-nav">
        <li class="nav-item active"> <a class="nav-link" href="#">Home <span class="sr-only">Home</span></a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">Nuove Ragazze</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">Chierca avanzata</a> </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"> <a class="nav-link" href="#">Prezzi</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">Termi</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">Contatto</a> </li>
      </ul>
    <!-- InstanceEndEditable --></div>
</nav></div></div>
	
	
	<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar10">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Chierca avanzata</a>
                </li>
                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sezione</a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown1"> <a class="dropdown-item" href="#">Escort Donne</a> <a class="dropdown-item" href="#">Escord Uomini</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="#">Massagatrice</a> </div>
          </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Prezzi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contatto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>-->
	
	<!--<div class="row bg-dark">
	<div class="container">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark"> <a class="navbar-brand" href="#">SexNavi</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent1">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active"> <a class="nav-link" href="#">Home</a></li>
	      <li class="nav-item"> <a class="nav-link" href="#">Nuove Ragazze</a></li>
	      <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sezione</a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown1"> <a class="dropdown-item" href="#">Escort Donne</a> <a class="dropdown-item" href="#">Escord Uomini</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="#">Massagatrice1</a> </div>
          </li>
        </ul>
	    <form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
  </nav></div></div>-->
<!--<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-fixed-top">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarsExample11">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">NUOVE RAGAZZE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ESCORT DONNE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ESCORT UOMINI</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="#">MASSAGATRICE</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="#">PREZZI</a>
                </li>
				<li class="nav-item last-item">
                    <a class="nav-link" href="#">CONTATTO</a>
                </li>
            </ul>
        </div>
    </div>
</nav>-->
</section>
<!-- InstanceBeginEditable name="editcontent" --><section class="content">
  <hr>
  <div class="container">
    <div class="row">
      <div class="menubox col-sm-12 col-12 col-md-3">
        <div class="row">
          <div class="col-12 text-center mb-4">
            <label></label>
            <h6><span class="" id="span">Username</span></h6>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <button type="button" class="btn btn-primary managermenu" onClick="location.href = '';">Annunci Manager</button>
            <button type="button" class="btn btn-primary managermenu active" onClick="location.href = '';">Crea Annuncio</button>
            <button type="button" class="btn btn-primary managermenu" onClick="location.href = '';">Impostazioni Account</button>
            <button type="button" class="btn btn-primary managermenu" onClick="location.href = '';">Prezzi</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-9 inserat" style="background-color:#D8D8D8">
	    <div class="row">
			  <div class="col-12">
        <div class="card mt-sm-2 mt-md-3">
          <div class="card-header"> NEUES INSERAT ERSTELLEN </div>
          <div class="card-body">
            <p class="card-text">Hier können Sie schnell und unkompliziert ein neues inserat erstellen.</p>
          </div>
        </div>
			  </div>
		</div>
		  <!-- start form here--><form class="form" role="form" autocomplete="off" id="inseratform" novalidate="" method="POST">
		  <div class="form-row">
		    <div class="col-12 mt-3">
				
			  <div class="card">
          <div class="card-header">Typo / durata*</div>
          <div class="card-body">
			  <div class="row mobilesub d-block d-sm-none">
			    <div class="col-12">
		<h6>Annunci</h6>
   <div class="funkyradio" required>
        <div class="funkyradio-primary">
            <input type="radio" name="radio" id="radio1" />
<label for="radio1">3 GIORNI - 14 €</label>
        </div>
        <div class="funkyradio-primary">
            <input type="radio" name="radio" id="radio2" checked/>
            <label for="radio2">7 GIORNI - 30 €</label>
        </div>
        <div class="funkyradio-primary">
            <input type="radio" name="radio" id="radio3" />
            <label for="radio3">14 GIORNI - 65 €</label>
        </div>
        <div class="funkyradio-primary">
            <input type="radio" name="radio" id="radio4" />
            <label for="radio4">1 MESE - 89 €</label>
        </div>
        <div class="funkyradio-primary">
            <input type="radio" name="radio" id="radio5" />
            <label for="radio5">3 MESI - 135 €</label>
        </div>
        <div class="funkyradio-primary">
            <input type="radio" name="radio" id="radio6" />
            <label for="radio6">6 MESI - 240 €</label>
        </div>
	   <div class="funkyradio-primary">
            <input type="radio" name="radio" id="radio7" />
            <label for="radio7">9 MESI - 300 €</label>
        </div>
	   <div class="funkyradio-primary">
            <input type="radio" name="radio" id="radio8" />
            <label for="radio8">12 MESI - 360 €</label>
        </div>
	   <hr>
	   <h6>Banner</h6>
	   <div class="funkyradio-primary">
            <input type="radio" name="radio" id="radio9" />
            <label for="radio9">CENTRO 7 GIORNI - 110 €</label>
        </div>
	   <div class="funkyradio-primary">
            <input type="radio" name="radio" id="radio10" />
            <label for="radio10">TOP 7 GIORNI - 290 €</label>
        </div>
    </div>
	<!-- mobile img radiobuttons end --></div>
	 </div>           
			  
			  <div class="row hidedefault d-none d-sm-block">
				<div class="btn-group flex-wrap col-12 text-center ml-4 offset-sm-0" data-toggle="buttons" required>
              <div class="col-2 p-0 m-2 ml-sm-4 ml-lg-2"><label class="btn btn-subscription">
					<input type="radio" name="options" id="toption1" autocomplete="off"> <i class="far fa-clock"></i><br>3 GIORNI<br>14 €
				  </label></div>
							  <div class="col-2 p-0 m-2"><label class="btn btn-subscription">
					<input type="radio" name="options" id="toption2" autocomplete="off" checked> <i class="far fa-clock"></i><br>7 GIORNI<br>30 €
				  </label></div>
							  <div class="col-2 p-0 m-2"><label class="btn btn-subscription">
					<input type="radio" name="options" id="toption3" autocomplete="off"> <i class="far fa-clock"></i><br>14 GIORNI<br>55 €
				  </label></div>
              <div class="col-2 p-0 m-2"><label class="btn btn-subscription">
					<input type="radio" name="options" id="toption4" autocomplete="off"> <i class="far fa-clock"></i><br>1 MESE<br>89 €
				  </label></div>
					<div class="col-2 p-0 m-2 ml-sm-4 ml-lg-2"><label class="btn btn-subscription">
					<input type="radio" name="options" id="toption5" autocomplete="off"> <i class="far fa-clock"></i><br>3 MESI<br>135 €
				  </label></div>
					
					
					<div class="col-2 p-0 m-2"><label class="btn btn-subscription">
					<input type="radio" name="options" id="toption6" autocomplete="off" > <i class="far fa-clock"></i><br>6 MESI<br>240 €
				  </label></div>
							  <div class="col-2 p-0 m-2"><label class="btn btn-subscription">
					<input type="radio" name="options" id="toption7" autocomplete="off"> <i class="far fa-clock"></i><br>9 MESI<br>300 €
				  </label></div>
							  <div class="col-2 p-0 m-2"><label class="btn btn-subscription">
					<input type="radio" name="options" id="toption8" autocomplete="off"> <i class="far fa-clock"></i><br>12 MESI<br>360 €
				  </label></div>
              <div class="col-2 p-0 m-2 ml-sm-4 ml-lg-2"><label class="btn btn-subscription">
					<input type="radio" name="options" id="toption9" autocomplete="off">BANNER<br>CENTRO<br>7 Giorni<br>110 €
				  </label></div>
					<div class="col-2 p-0 m-2"><label class="btn btn-subscription">
					<input type="radio" name="options" id="toption10" autocomplete="off">BANNER<br>TOP<br>7 Giorni<br>290 €
				  </label></div>
			 </div>
           <!-- img radiobuttons end --> </div>
			
           <!-- card body times end --> </div>
         <!-- card times end --> </div>
            <!-- big right time column --></div>
	   <!-- big right time form row --> </div>
		  
		  <div class="form-row">
		    <div class="col-12 mt-3">
				<div class="card">
					<div class="card-header">Categoria*</div>
					<div class="card-body">
					<div class="row hidedefault">
						<div class="btn-group flex-wrap col-12 text-center" data-toggle="buttons" required>
					  <div class="col-sm-3 col-6"><label class="btn btn-subscription category">
					<input type="radio" name="category" id="coption1" autocomplete="off" >Escort Girl
				  </label></div>
					  <div class="col-sm-3 col-6"><label class="btn btn-subscription category">
					<input type="radio" name="category" id="coption2" autocomplete="off">Escort Boy
				  </label></div>
					  <div class="col-sm-3 col-6"><label class="btn btn-subscription category">
					<input type="radio" name="category" id="coption3" autocomplete="off">Trans
				  </label></div>
					  <div class="col-sm-3 col-6"><label class="btn btn-subscription category">
					<input type="radio" name="category" id="coption4" autocomplete="off">Altro
				  </label></div>
						<div class="col-sm-3 col-6"><label class="btn btn-subscription category">
					<input type="radio" name="category" id="coption5" autocomplete="off">MILF
				  </label></div>
							<div class="col-sm-3 col-6"><label class="btn btn-subscription category">
					<input type="radio" name="category" id="coption6" autocomplete="off">Masaggi
				  </label></div>
						<div class="col-sm-3 col-6"><label class="btn btn-subscription category">
					<input type="radio" name="category" id="coption7" autocomplete="off">Gay
				  </label></div>
						  <div class="col-sm-3 col-6"><label class="btn btn-subscription category">
					<input type="radio" name="category" id="coption8" autocomplete="off">Lavoro
				  </label></div>
							<div class="col-6 col-lg-3 col-sm-4"><label class="btn btn-subscription category">
					<input type="radio" name="category" id="coption9" autocomplete="off">Beni immobili
				  </label></div>
							<div class="col-6 col-sm-4 col-lg-3"><label class="btn btn-subscription category">
					<input type="radio" name="category" id="coption10" autocomplete="off">Escort Service
				  </label></div>
						  <div class="col-sm-4 col-lg-3 col-6"><label class="btn btn-subscription category">
					<input type="radio" name="category" id="coption11" autocomplete="off">BDSM Sex
				  </label></div>
						</div>
			<!-- hide default row -->		  </div>
<!-- card body  category end -->	</div>
				<!-- card category end --></div>
				
			 <!--column category end --> </div>
		 <!--form row category end --> </div>
		  
		  <div class="form-row">
		    <div class="col-12 mt-3">
				<div class="card">
					<div class="card-header"> Typo / Typa</div>
					<div class="card-body">
					<div class="container type">
					<div class="row hidedefaultradio">
					  <div class="col-md-3 col-sm-3 col-xl-2 mt-2 col-6"><div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="tyradio1" name="type" value="">
    <label class="custom-control-label" for="tyradio1">Arabia</label>
  </div></div>
					  <div class="col-md-3 col-sm-3 col-xl-2 mt-2 col-5"><div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="tyradio2" name="type" value="">
    <label class="custom-control-label" for="tyradio2">Asia</label>
  </div></div>
					  <div class="col-md-3 col-sm-3 col-xl-2 mt-2 col-6"><div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="tyradio3" name="type" value="">
    <label class="custom-control-label" for="tyradio3">Nero/Nera</label>
  </div></div>
					  <div class="col-md-3 col-sm-3 col-xl-2 mt-2 col-5"><div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="tyradio4" name="type" value="">
    <label class="custom-control-label" for="tyradio4">Europa</label>
  </div></div>
					  <div class="col-md-3 col-sm-3 col-xl-2 mt-2 col-6"><div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="tyradio5" name="type" value="">
    <label class="custom-control-label" for="tyradio5">India</label>
  </div></div>
					<div class="col-md-3 col-sm-3 col-xl-2 mt-2 col-5"><div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="tyradio6" name="type" value="">
    <label class="custom-control-label" for="tyradio6">Latin</label>
  </div></div>					
					<div class="col-md-3 col-sm-3 col-xl-2 mt-2 col-6"><div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="tyradio7" name="type" value="">
    <label class="custom-control-label" for="tyradio7">Orientale</label>
  </div></div>
		<div class="col-md-3 col-sm-3 col-4 col-xl-2 mt-2"><div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="tyradio8" name="type" value="">
    <label class="custom-control-label" for="tyradio8">Altro</label>
  </div></div>
					  
                    </div>
			<!-- hide default row type --></div>
<!-- card body  type end -->	</div>
				<!-- card type end --></div>
				
			 <!--column type end --> </div>
		 <!--form row type end --> </div>
		  
		  
		  <div class="form-row">
		    <div class="col-12 mt-3">
				<div class="card">
					<div class="card-header"> Service</div>
					<div class="card-body">
					<div class="container type">
					<div class="row hidedefaultradio servicesCB">
					 <div class="col-3 mt-2 col-md-4 col-lg-3"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service1" name="services">
    <label class="custom-control-label" for="service1">Posizione 69</label>
  </div></div>
					 <div class="col-3 mt-2 col-md-4 col-lg-3"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service2" name="services">
    <label class="custom-control-label" for="service2">Sesso anale</label>
  </div></div>
					 <div class="col-3 mt-2 col-md-4 col-lg-3"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service3" name="services">
    <label class="custom-control-label" for="service3">Sborrata in Bocca</label>
  </div></div>
					 <div class="col-3 mt-2 col-md-4 col-lg-3"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service4" name="services">
    <label class="custom-control-label" for="service4">Sborrata in faccia</label>
  </div></div>
					 <div class="col-3 mt-2 col-md-4 col-lg-3"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service5" name="services">
    <label class="custom-control-label" for="service5">Dildo/Toys</label>
  </div></div>
					 <div class="col-3 mt-2 col-md-4 col-lg-3"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service6" name="services">
    <label class="custom-control-label" for="service6">Bacio alla francese</label>
  </div></div>
					 <div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service7" name="services">
    <label class="custom-control-label" for="service7">Con Fidanzata (GFE)</label>
  </div></div>
					 <div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service8" name="services">
    <label class="custom-control-label" for="service8">Bacio</label>
  </div></div>
					 <div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service9" name="services">
    <label class="custom-control-label" for="service9">Pompino con Preservativo</label>
  </div></div>
					 <div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service10" name="services">
    <label class="custom-control-label" for="service10">Pompino senza Preservativo</label>
  </div></div>
					 <div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service11" name="services">
    <label class="custom-control-label" for="service11">Sesso in posizioni diverse</label>
  </div></div>
					 <div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service12" name="services">
    <label class="custom-control-label" for="service12">leccare e succhiare le palle</label>
  </div></div>
					 <div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service13" name="services">
    <label class="custom-control-label" for="service13">Deep Throat</label>
  </div></div>
					 <div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service14" name="services">
    <label class="custom-control-label" for="service14">Linguaggio volgare</label>
  </div></div>
					 <div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service15" name="services">
    <label class="custom-control-label" for="service15">Doppia penetrazione (DP)</label>
  </div></div>
					 <div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service16" name="services">
    <label class="custom-control-label" for="service16">Extraball</label>
  </div></div>
					 <div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service17" name="services">
    <label class="custom-control-label" for="service17">Seduta in faccia</label>
  </div></div>
					 <div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service18" name="services">
    <label class="custom-control-label" for="service18">Fisting</label>
  </div></div>
					 <div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service19" name="services">
    <label class="custom-control-label" for="service19">Massaggio tutto il corpo</label>
  </div></div>
					 <div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service20" name="services">
    <label class="custom-control-label" for="service20">Sesso di Gruppo</label>
  </div></div>
					 <div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service21" name="services">
    <label class="custom-control-label" for="service21">Kamasutra</label>
  </div></div>
					 <div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service22" name="services">
    <label class="custom-control-label" for="service22">Giochi sessuali Lesbiche</label>
  </div></div>
					 <div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service23" name="services">
    <label class="custom-control-label" for="service23">Lingerie</label>
  </div></div>
					 <div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service24" name="services">
    <label class="custom-control-label" for="service24">Pompino senza con ingoio</label>
  </div></div>
					 <div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service25" name="services">
    <label class="custom-control-label" for="service25">Esperienza Pornstar (PSE)</label>
  </div></div>
					 <div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service26" name="services">
    <label class="custom-control-label" for="service26">Masturbazione</label>
  </div></div>
					 <div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service27" name="services">
    <label class="custom-control-label" for="service27">Massaggio alla prostata</label>
  </div></div>
					 <div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service28" name="services">
    <label class="custom-control-label" for="service28">Rimming (attivo)</label>
  </div></div>
					<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service29" name="services">
    <label class="custom-control-label" for="service29">Striptease/Lapdance</label>
  </div></div> 
					<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service30" name="services">
    <label class="custom-control-label" for="service30">Tantrico</label>
  </div></div> 	
					<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service31" name="services">
    <label class="custom-control-label" for="service31">BDSM</label>
  </div></div> 		
						<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service32" name="services">
    <label class="custom-control-label" for="service32">Bondage</label>
  </div></div> 	
					<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service33" name="services">
    <label class="custom-control-label" for="service33">Fetish</label>
  </div></div> 	
					
					<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service34" name="services">
    <label class="custom-control-label" for="service34">Fetish Piedi</label>
  </div></div> 		
					
					<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service35" name="services">
    <label class="custom-control-label" for="service35">Pioggia dorata (attivo)</label>
  </div></div> 			
					
					<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service37" name="services">
    <label class="custom-control-label" for="service37">Pioggia dorata (passivo)</label>
  </div></div> 			
					<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service38" name="services">
    <label class="custom-control-label" for="service38">Pelle/Latex/PVC</label>
  </div></div> 			
					<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service39" name="services">
    <label class="custom-control-label" for="service39">Mistress (hard)</label>
  </div></div> 		
					<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service40" name="services">
    <label class="custom-control-label" for="service40">Mistress (soft)</label>
  </div></div> 	
					<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service41" name="services">
    <label class="custom-control-label" for="service41">Gioco di Ruolo e Fantasy</label>
  </div></div> 	
					<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service42" name="services">
    <label class="custom-control-label" for="service42">Sculacciata (attivo)</label>
  </div></div> 	
					<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service43" name="services">
    <label class="custom-control-label" for="service43">Sculacciata (passivo)</label>
  </div></div> 	
					<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service44" name="services">
    <label class="custom-control-label" for="service44">Sottomesso / Schiavo (hard)</label>
  </div></div> 	
					<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service45" name="services">
    <label class="custom-control-label" for="service45">Sottomesso / Schiavo (soft)</label>
  </div></div> 	
						
					<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service46" name="services">
    <label class="custom-control-label" for="service46">Sborrata sul corpo (COB)</label>
  </div></div> 	
					<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service47" name="services">
    <label class="custom-control-label" for="service47">Massaggio erotico</label>
  </div></div> 	
					<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service48" name="services">
    <label class="custom-control-label" for="service48">Massaggio parti intime</label>
  </div></div> 							
					<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service49" name="services">
    <label class="custom-control-label" for="service49">Bacio di buona empatia</label>
  </div></div> 	
					<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service50" name="services">
    <label class="custom-control-label" for="service50">Massaggio con Schiuma</label>
  </div></div> 	
					<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service51" name="services">
    <label class="custom-control-label" for="service51">Spagnola</label>
  </div></div> 	
					<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service52" name="services">
    <label class="custom-control-label" for="service52">Massaggio anale (attivo)</label>
  </div></div> 	
					<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service53" name="services">
    <label class="custom-control-label" for="service53">Massaggio anale (passivo)</label>
  </div></div> 	
					<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service54" name="services">
    <label class="custom-control-label" for="service54">Servizio Doccia</label>
  </div></div>
					<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service55" name="services">
    <label class="custom-control-label" for="service55">Depilazione parti intime</label>
  </div></div>
					<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service56" name="services">
    <label class="custom-control-label" for="service56">Video Privato</label>
  </div></div>
					<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service57" name="services">
    <label class="custom-control-label" for="service57">Sega</label>
  </div></div>
					<div class="col-3 mt-2"><div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="service58" name="services">
    <label class="custom-control-label" for="service58">DUO</label>
  </div></div>
                    </div>
			<!-- hide default row type --></div>
<!-- card body  service end -->	</div>
				<!-- card service end --></div>
				
			 <!--column service end --> </div>
		 <!--form row service end --> </div>
		  
		  <div class="form-row">
		    <div class="col-12 mt-3">
				<div class="card">
					<div class="card-header">Informationi</div>
					<div class="card-body">
					<div class="container">
					<div class="row">
					 <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Titolo Annuncio*</label>
                            <input type="text" class="form-control" maxlength="20" placeholder="Esempio: Hot Escort latina 24/7" required/>
                        </div>
                     </div>
					<div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Nome Lavoro / Artista</label>
                            <input type="text" class="form-control" maxlength="20" placeholder="Esempio: Bianca Sex" required/>
                        </div>
                     </div>
				   </div>
						
				  <div class="row">
					 <div class="col-12">
                        <div class="form-group">
                            <label class="control-label">Descrivi il tuo Annuncio*</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Inserisci descrizione" rows="5" required></textarea>
                        </div>
                     </div>
				   </div>
						
				 <div class="row">
					 <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Prefisso</label>
                            <select class="form-control" required>
							 <option value="0039">+39 (Italia)</option>
   							 <option value="0041">+41 (Swizzera)</option>
   							 <option value="0043">+43 (Austria)</option>
  							</select>
                        </div>
                     </div>
				     <div class="col-8">
                        <div class="form-group">
                            <label class="control-label">Numero di Telefono</label>
                            <input type="text" class="form-control" maxlength="20" placeholder="Inserisci Numero" required/>
                        </div>
                     </div>
						
			     </div>
				 <div class="row">
				  <div class="col-12 col-sm-12 col-md-12 col-lg-3">
					 <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="smscheck" name="sms">
    <label class="custom-control-label" for="smscheck">Accettato SMS </label>
  </div></div>
					 
					 <div class="col-12 col-lg-4 col-xl-3">
					 <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="vipercheck" name="viper">
    <label class="custom-control-label" for="vipercheck">Accettato Viper</label>
  </div></div>
					 <div class="col-auto">
					 <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="whatsapcheck" name="whatsapp">
    <label class="custom-control-label" for="whatsapcheck">Accettato Whatsapp</label>
  </div></div>
 </div>
					 <div class="row mt-3">
					 <div class="col-12">
                        <div class="form-group">
                            <label class="control-label">Il tuo Sito Web</label>
                            <input type="text" class="form-control" placeholder="Esempio: www.sexnavi.it"/>
                        </div>
                     </div>
				   </div>
				
			<!-- container info --></div>
<!-- card body  info end -->	</div>
				<!-- card info end --></div>
				
			 <!--column info end --> </div>
		 <!--form row info end --> </div>
		  
		  
		  <div class="form-row">
		    <div class="col-12 mt-3">
				<div class="card">
					<div class="card-header">Residenza*</div>
					<div class="card-body">
					<div class="container">
	
				 <div class="row">
					 <div class="col-md-6 col-sm-7 col-12 col-lg-4">
                        <div class="form-group">
                            <label class="control-label">Regione*</label>
                            <select class="form-control" name="regionsit" required>
							 <option value="">Abruzzo</option>
   							 <option value="">Basilicata</option>
   							 <option value="">Calabria</option>
  							</select>
                        </div>
                     </div>
				     <div class="col-md-6 col-sm-5 col-12 col-lg-3">
                        <div class="form-group">
                            <label class="control-label">Codice Postale*</label>
                            <input type="text" class="form-control" maxlength="20" placeholder="Numero" required/>
                        </div>
                     </div>
					 <div class="col-md-12 col-sm-12 col-12 col-lg-5">
                        <div class="form-group">
                            <label class="control-label">Citta*</label>
                            <input type="text" class="form-control" maxlength="20" placeholder="Inserisci Citta" required/>
                        </div>
                     </div>
						
			     </div>
				 
					 <div class="row mt-3">
					 <div class="col-12">
                        <div class="form-group">
                            <label class="control-label">Indirizzo</label>
                            <input type="text" class="form-control" id="address" placeholder="Esempio: Piazza del Colosseo, 1"/>
                        </div>
                     </div>
				   </div>
						
				  <div class="row mt-3">
					 <div class="col-12">
                        <div class="form-group">
                            <label class="control-label">Indirizzo aggiuntivo</label>
                            <input type="text" class="form-control" id="address2" placeholder="Esempio: 2 ° piano"/>
                        </div>
                     </div>
				   </div>
				
			<!-- container areaofwork --></div>
<!-- card body  areaofwork end -->	</div>
				<!-- card areaofwork end --></div>
				
			 <!--column areaofwork end --> </div>
		 <!--form row areaofwork end --> </div>
		  
		  
		 <div class="form-row">
		    <div class="col-12 mt-3">
				<div class="card">
					<div class="card-header">Upload Foto & Video</div>
					<div class="card-body">
					<div class="container">
	
				 <div class="row">
						<h6>Massimi 5 Foto - Filesize max 1mb</h6>
					 <div class="custom-file">
  <input type="file" class="custom-file-input" id="foto1">
  <label class="custom-file-label" for="foto1">Foto 1</label>
</div>
					 <div class="custom-file">
  <input type="file" class="custom-file-input" id="foto2">
  <label class="custom-file-label" for="foto2">Foto 2</label>
</div>
					 <div class="custom-file">
  <input type="file" class="custom-file-input" id="foto3">
  <label class="custom-file-label" for="foto3">Foto 3</label>
	</div>					 
<div class="custom-file">
  <input type="file" class="custom-file-input" id="foto4">
  <label class="custom-file-label" for="foto4">Foto 4</label>
</div>
<div class="custom-file">
  <input type="file" class="custom-file-input" id="foto5">
  <label class="custom-file-label" for="foto5">Foto 5</label>
</div>
					 
	<h6 class="mt-3">Massimo 1 Video- 10 Secondi</h6>
			     <div class="custom-file">
  <input type="file" class="custom-file-input" id="video1">
  <label class="custom-file-label" for="video1">Video</label>
</div>
						
						
						</div>
				 
					 
				
			<!-- container foto video --></div>
<!-- card body  foto video end -->	</div>
				<!-- card foto video end --></div>
				
			 <!--column foto video end --> </div>
		 <!--form row foto video end --> </div>
		  
		  
		  <div class="form-row">
		    <div class="col-12 mt-3 mb-3">
				<div class="card">
					<div class="card-header">Crea Annuncio</div>
					<div class="card-body">
					<div class="container">
	
				 <div class="row">
						<div class="col-12">
					<label class="float-left"></label>
					 <button type="submit" class="btn float-right">Abortire</button>
					 <button type="submit" class="btn btn-secondary float-right mr-3">Continua</button>
					 
					 
					 </div>
						</div>
				 
					 
				
			<!-- container foto video --></div>
<!-- card body  foto video end -->	</div>
				<!-- card foto video end --></div>
				
			 <!--column foto video end --> </div>
		 <!--form row foto video end --> </div>
		  
		  
		  <!-- end form here --> </form>
    <!-- right side -->  </div>
	</div>	
    </div>
</section><!-- InstanceEndEditable -->
    <hr>
<footer class="pt-4 pb-4" id="contact">
		  <div class="container">
				<div class="row">
					<div class="col-4 mt-2 mb-4 offset-sm-1 offset-xl-0 offset-lg-0 offset-4  d-none d-sm-block">
					  <div class="row">
					    <div class="col-12 text-center">
						   <div class="row">
							  <div class="col-xl-12"><h6>&nbsp;</h6></div>
						  </div>
                        </div>
				      </div>
						<div class="row">
					    <div class="col-12 text-center">
						  <div class="d-none d-sm-block"><img src="../public/images/kleine-neu-weiß.png" class="img-fluid" alt="Placeholder image"></div> </div>
				      </div>
					</div>
					<div class="mt-2 mb-4 col-sm-5 col-xl-4 col-lg-4 offset-0 col-11" style="border-right:solid 1px #E10581;border-left:solid 1px #E10581;">
					    <div class="row mb-2">
						  <div class="col-11 offset-1">
							<h6 class="font-weight-bold">Navigatione</h6>
							</div>
					  </div>
					  <div class="row">
						  <div class="offset-1 col-1"><i class="fas fa-caret-right"></i></div>
						  <div class="col-auto"><a href="#">Pubblica Annuncio</a></div>
					  </div>
					  <div class="row">
						  <div class="offset-1 col-1"><i class="fas fa-caret-right"></i></div>
						  <div class="col-auto"><a href="#" data-toggle="modal" data-target="#modalLRForm">Registra</a></div>
					  </div>
						<div class="row">
						  <div class="offset-1 col-1"><i class="fas fa-caret-right"></i></div>
						  <div class="col-auto"><a href="#" data-toggle="modal" data-target="#modalLRForm">Login</a></div>
					  </div>
					
                    </div>
					<div class="mt-2 mb-4 offset-sm-1 offset-xl-0 offset-lg-0 col-9 col-xl-4 col-lg-4">
						<div class="row mb-2">
						  <div class="col-11 offset-1">
							<h6 class="font-weight-bold">Informationi</h6>
							</div>
					  </div>
					  <div class="row">
						  <div class="offset-1 col-1"><i class="fas fa-caret-right"></i></div>
						  <div class="col-auto"><a href="#">Termi</a></div>
					  </div>
					  <div class="row">
						  <div class="offset-1 col-1"><i class="fas fa-caret-right"></i></div>
						  <div class="col-auto"><a href="#">Prezzi</a></div>
					  </div>
						<div class="row">
						  <div class="offset-1 col-1"><i class="fas fa-caret-right"></i></div>
						  <div class="col-auto"><a href="#">Contatto</a></div>
					  </div>
					</div>
</div>
  </div>
  </footer>
		<!-- Copyright -->
		<section class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12 ">
						<div class="text-center text-white">
							&copy; 2018 Sex Navigator. All Rights Reserved.
						</div>
					</div>
				</div>
			</div>
  </section>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../public/javascripts/jquery-3.2.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../public/javascripts/popper.min.js"></script>
    <script src="../public/javascripts/bootstrap-4.0.0.js"></script>
	<!-- InstanceBeginEditable name="addscripts" -->
	 <!-- additional scripts -->
	<!-- InstanceEndEditable -->

  </body>
<!-- InstanceEnd --></html>