<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SEX Navigator</title>
    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap-4.0.0.css" rel="stylesheet">
	<link href="public/stylesheets/sexnavicss.css" rel="stylesheet" type="text/css">
	<!-- icons etc. -->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  </head>
  <body>
<section class="header">
  <div class="container">
  	<div class="row">
    	<div class="col-4"><img src="images/kleine-neu.png" class="img-fluid" alt="Placeholder image"></div>
    	<div class="col-8">
          <div class="row top">
			  <div class="text-right contacto col-sm-8 col-8 col-xl-10"><a href="#"><i class="far fa-envelope"></i><span class="contacttext">Contatto</span></a></div>
            <div class="text-right col-sm-4 col-4 col-xl-2">
<div class="dropdown show"> <a class="btn btn-sm dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-globe-americas"></i> DE </a>
            <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Deutsch</a>
				  <a class="dropdown-item" href="#">Italiano</a>  
			</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 text-right col-lg-8 col-xl-8 col-md-6 col-sm-4">
              <button type="button" class="btn btn-outline-success login"><i class="fas fa-sign-in-alt"></i> Login</button>
              <button type="button" class="btn btn-outline-success register"><i class="fas fa-user-plus"></i> Registrati</button>
				<button type="button" class="btn btn-outline-success d-md-none"><i class="fas fa-user-plus"></i> Account</button>
            </div>
            <div class="text-right offset-xl-0 col-lg-4 col-xl-4 col-md-6 col-sm-8 col-6">
              <button type="button" class="btn btn-secondary ann"><i class="fas fa-plus"></i> PUBBLICA ANNUNCIO</button>
			  <button type="button" class="btn btn-secondary d-sm-none"><i class="fas fa-plus"></i> PUBBLICA </button>
            </div>
			  
          </div>
          <div class="row">
            <div class="col-xl-12"></div>
          </div>
    	</div>
  	</div>
  </div>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarsExample11">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">NUOVE RAGAZZE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ESCORT DONNE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ESCORT UOMINI</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="#">MASSAGATRICE</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="#">PREZZI</a>
                </li>
				<li class="nav-item last-item">
                    <a class="nav-link" href="#">CONTATTO</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</section>
<section class="content">
<section class="filter">
<div class="container">
  <form class="pt-1 pb-2 form-horizontal" method="post" role="form">
      <div class="form-row mx-auto">
    <div class="col-3 my-1 offset-1">
      <label class="mr-sm-2" for="region"><h5>Regione</h5></label>
      <select class="custom-select mr-sm-2" id="region">
        <option selected>Aosta?</option>
        <option value="1">1</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="col-3 my-1">
  <label class="mr-sm-2" for="stadt"><h5>Citta</h5></label>
      <select class="custom-select mr-sm-2" id="stadt">
        <option selected>Aosta?</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="col-3 my-1">
       <label class="mr-sm-2" for="kategorie"><h5>Categoria</h5></label>
      <select class="custom-select mr-sm-2" id="kategorie">
        <option selected>Escort Donna?</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
	<div class="col-1 my-1 filterbutton col-sm-2">
      <a href="#" class="btn btn-secondary" role="button">Chierca</a>
    
		</div>
  </div>
  </form>
</div>
</section>	  
<div class="container mt-4 d-none d-md-block">
	<div class="row">
    <div class="col-12">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleControls" data-slide-to="1"></li>
          <li data-target="#carouselExampleControls" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active"> <img class="d-block w-100" src="images/1920x500.gif" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h5>Item 1 Heading</h5>
              <p>Item 1 Description</p>
            </div>
          </div>
          <div class="carousel-item"> <img class="d-block w-100" src="images/1920x500.gif" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
              <h5>Item 2 Heading</h5>
              <p>Item 2 Description</p>
            </div>
          </div>
          <div class="carousel-item"> <img class="d-block w-100" src="images/1920x500.gif" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
              <h5>Item 3 Heading</h5>
              <p>Item 3 Description</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>
    </div>
	</div>
  </div>
  <hr>
<div class="container">
  <div class="row">
	 <div class="col-md-3 col-sm-1 col-1 offset-xl-1 offset-sm-1 offset-md-0 offset-lg-1"></div>
    <div class="col-lg-5 col-md-6 col-sm-8 col-11">
	  <nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
      </a>
    </li>
    <li class="active"><a href="#">01</a></li>
    <li><a href="#">02</a></li>
    <li><a href="#">03</a></li>
    <li><a href="#">04</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
      </a>
    </li>
  </ul>
</nav>
</div>
<div class="col-auto"></div>
  </div>
</div>
<div class="container">
	  <div class="row">
	    <div class="col-md-5 offset-md-1 col-sm-6 col-xl-3 offset-xl-0 offset-sm-0 offset-1 col-10 col-lg-4 offset-lg-2">
		  <div class="cardfront">
			    <div class="block">
					 <div class="product">
					  <img src="images/woman.jpg" alt="Placeholder image">           </div>
					<div class="info">
					  <span class="Uname"><h4>Armella Sex</h4></span>
					  <span class="description">
						Rwanda is a country in central and eastern Africa located a few degrees south of the Ecuator.
					  </span>
						<span class="time"><i class="far fa-clock"></i> 12 hours ago</span>
				   </div>
					<div class="details">
					<span class="mobile"><i class="fas fa-phone"></i> 369-223-111-32424</span>
					</div>
				   <div class="details">
					 <div class="row">
					   <div class="col-6"> <i class="fas fa-map-marker-alt"></i>
						   <span class="location"> Wien</span>
					   </div>
					   <div class="col-6"><i class="fas fa-flag"></i><span class="location"> Sie sucht</span></div>
				     </div>
			       </div>
	        </div>
          </div>
		  </div>
	    <div class="col-md-5 col-sm-6 col-xl-3 offset-xl-0 offset-lg-0 offset-sm-0 offset-1 col-10 col-lg-4 offset-md-0">
		  <div class="cardfront">
			    <div class="block">
					 <div class="product">
					  <img src="images/woman.jpg" alt="Placeholder image">           </div>
					<div class="info">
					  <span class="Uname"><h4>Armella Sex</h4></span>
					  <span class="description">
						Rwanda is a country in central and eastern Africa located a few degrees south of the Ecuator.
					  </span>
						<span class="time"><i class="far fa-clock"></i> 12 hours ago</span>
				   </div>
					<div class="details">
					<span class="mobile"><i class="fas fa-phone"></i> 369-223-111-32424</span>
					</div>
				   <div class="details">
					  <div class="row">
					   <div class="col-6"> <i class="fas fa-map-marker-alt"></i>
						   <span class="location"> Wien</span>
					   </div>
					   <div class="col-6"><i class="fas fa-flag"></i><span class="location"> Sie sucht</span></div>
				     </div>
			       </div>
			      </div>
              </div>
		  </div>
	    <div class="col-md-5 offset-md-1 col-sm-6 col-xl-3 offset-xl-0 offset-sm-0 offset-1 col-10 offset-lg-2 col-lg-4">
		  <div class="cardfront">
			    <div class="block">
					 <div class="product">
					 <img src="images/woman.jpg" alt="Placeholder image">           </div>
					<div class="info">
					  <span class="Uname"><h4>Armella Sex</h4></span>
					  <span class="description">
						Rwanda is a country in central and eastern Africa located a few degrees south of the Ecuator.
					  </span>
						<span class="time"><i class="far fa-clock"></i> 12 hours ago</span>
				   </div>
					<div class="details">
					<span class="mobile"><i class="fas fa-phone"></i> 369-223-111-32424</span>
					</div>
				   <div class="details">
					  <div class="row">
					   <div class="col-6"> <i class="fas fa-map-marker-alt"></i>
						   <span class="location"> Wien</span>
					   </div>
					   <div class="col-6"><i class="fas fa-flag"></i><span class="location"> Sie sucht</span></div>
				     </div>
			       </div>
			      </div>
              </div>
		  </div>
	    <div class="col-md-5 col-sm-6 col-xl-3 offset-xl-0 offset-lg-0 offset-sm-0 offset-1 col-10 col-lg-4 offset-md-0">
		  <div class="cardfront">
			    <div class="block">
					 <div class="product">
				    <img src="images/woman.jpg" alt="Placeholder image"> </div>
					<div class="info">
					  <span class="Uname"><h4>Armella Sex</h4></span>
					  <span class="description">
						Rwanda is a country in central and eastern Africa located a few degrees south of the Ecuator.
					  </span>
						<span class="time"><i class="far fa-clock"></i> 12 hours ago</span>
				   </div>
					<div class="details">
					<span class="mobile"><i class="fas fa-phone"></i> 369-223-111-32424</span>
					</div>
				   <div class="details">
					  <div class="row">
					   <div class="col-6"> <i class="fas fa-map-marker-alt"></i>
						   <span class="location"> Wien</span>
					   </div>
					   <div class="col-6"><i class="fas fa-flag"></i><span class="location"> Sie sucht</span></div>
				     </div>
			       </div>
			      </div>
              </div>
		  </div>
  </div>
</div>

<section>
  <div class="container mt-3 mb-3">
	  <hr>
	  <div class="row">
	    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12 offset-xl-0 col-xl-6">
		 <div class="werbung mt-1"><img src="images/werbung2.jpg" alt="Placeholder image"></div>  </div>
	    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12 offset-xl-0 col-xl-6">
	    <div class="werbung mt-1">  <img src="images/werbung2.jpg" alt="Placeholder image"></div> </div>
    </div>
	 <hr>
    </div>
	</section>  
	 <div class="container">
	  <div class="row">
	    <div class="col-md-5 offset-md-1 col-sm-6 col-xl-3 offset-xl-0 offset-sm-0 offset-1 col-10 col-lg-4 offset-lg-2">
		  <div class="cardfront">
			    <div class="block">
					 <div class="product">
					  <img src="images/woman.jpg" alt="Placeholder image">           </div>
					<div class="info">
					  <span class="Uname"><h4>Armella Sex</h4></span>
					  <span class="description">
						Rwanda is a country in central and eastern Africa located a few degrees south of the Ecuator.
					  </span>
						<span class="time"><i class="far fa-clock"></i> 12 hours ago</span>
				   </div>
					<div class="details">
					<span class="mobile"><i class="fas fa-phone"></i> 369-223-111-32424</span>
					</div>
				   <div class="details">
					 <div class="row">
					   <div class="col-6"> <i class="fas fa-map-marker-alt"></i>
						   <span class="location"> Wien</span>
					   </div>
					   <div class="col-6"><i class="fas fa-flag"></i><span class="location"> Sie sucht</span></div>
				     </div>
			       </div>
	        </div>
          </div>
	    </div>
	    <div class="col-md-5 col-sm-6 col-xl-3 offset-xl-0 offset-lg-0 offset-sm-0 offset-1 col-10 col-lg-4 offset-md-0">
		  <div class="cardfront">
			    <div class="block">
					 <div class="product">
					  <img src="images/woman.jpg" alt="Placeholder image">           </div>
					<div class="info">
					  <span class="Uname"><h4>Armella Sex</h4></span>
					  <span class="description">
						Rwanda is a country in central and eastern Africa located a few degrees south of the Ecuator.
					  </span>
						<span class="time"><i class="far fa-clock"></i> 12 hours ago</span>
				   </div>
					<div class="details">
					<span class="mobile"><i class="fas fa-phone"></i> 369-223-111-32424</span>
					</div>
				   <div class="details">
					  <div class="row">
					   <div class="col-6"> <i class="fas fa-map-marker-alt"></i>
						   <span class="location"> Wien</span>
					   </div>
					   <div class="col-6"><i class="fas fa-flag"></i><span class="location"> Sie sucht</span></div>
				     </div>
			       </div>
	        </div>
          </div>
	    </div>
	    <div class="col-md-5 offset-md-1 col-sm-6 col-xl-3 offset-xl-0 offset-sm-0 offset-1 col-10 offset-lg-2 col-lg-4">
		  <div class="cardfront">
			    <div class="block">
					 <div class="product">
					 <img src="images/woman.jpg" alt="Placeholder image">           </div>
					<div class="info">
					  <span class="Uname"><h4>Armella Sex</h4></span>
					  <span class="description">
						Rwanda is a country in central and eastern Africa located a few degrees south of the Ecuator.
					  </span>
						<span class="time"><i class="far fa-clock"></i> 12 hours ago</span>
				   </div>
					<div class="details">
					<span class="mobile"><i class="fas fa-phone"></i> 369-223-111-32424</span>
					</div>
				   <div class="details">
					  <div class="row">
					   <div class="col-6"> <i class="fas fa-map-marker-alt"></i>
						   <span class="location"> Wien</span>
					   </div>
					   <div class="col-6"><i class="fas fa-flag"></i><span class="location"> Sie sucht</span></div>
				     </div>
			       </div>
	        </div>
          </div>
	    </div>
	    <div class="col-md-5 col-sm-6 col-xl-3 offset-xl-0 offset-lg-0 offset-sm-0 offset-1 col-10 col-lg-4 offset-md-0">
		  <div class="cardfront">
			    <div class="block">
					 <div class="product">
				    <img src="images/woman.jpg" alt="Placeholder image"> </div>
					<div class="info">
					  <span class="Uname"><h4>Armella Sex</h4></span>
					  <span class="description">
						Rwanda is a country in central and eastern Africa located a few degrees south of the Ecuator.
					  </span>
						<span class="time"><i class="far fa-clock"></i> 12 hours ago</span>
				   </div>
					<div class="details">
					<span class="mobile"><i class="fas fa-phone"></i> 369-223-111-32424</span>
					</div>
				   <div class="details">

					  <div class="row">
					   <div class="col-6"> <i class="fas fa-map-marker-alt"></i>
						   <span class="location"> Wien</span>
					   </div>
					   <div class="col-6"><i class="fas fa-flag"></i><span class="location"> Sie sucht</span></div>
				     </div>
			       </div>
	        </div>
          </div>
	    </div>
  </div>
</div>
  
<div class="container mt-4">
  <div class="row">
	 <div class="col-md-3 col-sm-1 col-1 offset-xl-1 offset-sm-1 offset-md-0 offset-lg-1"></div>
    <div class="col-lg-5 col-md-6 col-sm-8 col-11">
	  <nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
      </a>
    </li>
    <li class="active"><a href="#">01</a></li>
    <li><a href="#">02</a></li>
    <li><a href="#">03</a></li>
    <li><a href="#">04</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
      </a>
    </li>
  </ul>
</nav>
</div>
<div class="col-auto"></div>
  </div>
</div>
</section>
    <hr>
<footer class="pt-4 pb-4" id="contact">
		  <div class="container">
				<div class="row">
					<div class="col-4 mt-2 mb-4 offset-sm-1 offset-xl-0 offset-lg-0 offset-4  d-none d-sm-block">
					  <div class="row">
					    <div class="col-12 text-center">
						   <div class="row">
							  <div class="col-xl-12"><h6>&nbsp;</h6></div>
						  </div>
                        </div>
				      </div>
						<div class="row">
					    <div class="col-12 text-center">
						  <div class="d-none d-sm-block"><img src="images/kleine-neu-weiß.png" class="img-fluid" alt="Placeholder image"></div> </div>
				      </div>
					</div>
					<div class="mt-2 mb-4 col-sm-5 col-xl-4 col-lg-4 offset-0 col-11" style="border-right:solid 1px #E10581;border-left:solid 1px #E10581;">
					    <div class="row mb-2">
						  <div class="col-11 offset-1">
							<h6 class="font-weight-bold">Navigatione</h6>
							</div>
					  </div>
					  <div class="row">
						  <div class="offset-1 col-1"><i class="fas fa-caret-right"></i></div>
						  <div class="col-auto"><a href="#">Pubblica Annuncio</a></div>
					  </div>
					  <div class="row">
						  <div class="offset-1 col-1"><i class="fas fa-caret-right"></i></div>
						  <div class="col-auto"><a href="#">Registra</a></div>
					  </div>
						<div class="row">
						  <div class="offset-1 col-1"><i class="fas fa-caret-right"></i></div>
						  <div class="col-auto"><a href="#">Login</a></div>
					  </div>
					
                    </div>
					<div class="mt-2 mb-4 offset-sm-1 offset-xl-0 offset-lg-0 col-9 col-xl-4 col-lg-4">
						<div class="row mb-2">
						  <div class="col-11 offset-1">
							<h6 class="font-weight-bold">Informationi</h6>
							</div>
					  </div>
					  <div class="row">
						  <div class="offset-1 col-1"><i class="fas fa-caret-right"></i></div>
						  <div class="col-auto"><a href="#">Termi</a></div>
					  </div>
					  <div class="row">
						  <div class="offset-1 col-1"><i class="fas fa-caret-right"></i></div>
						  <div class="col-auto"><a href="#">Prezzi</a></div>
					  </div>
						<div class="row">
						  <div class="offset-1 col-1"><i class="fas fa-caret-right"></i></div>
						  <div class="col-auto"><a href="#">Contatto</a></div>
					  </div>
					</div>
</div>
  </div>
  </footer>
		<!-- Copyright -->
		<section class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12 ">
						<div class="text-center text-white">
							&copy; 2018 Sex Navigator. All Rights Reserved.
						</div>
					</div>
				</div>
			</div>
  </section>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../public/javascripts/jquery-3.2.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../public/javascripts/popper.min.js"></script>
    <script src="../public/javascripts/bootstrap-4.0.0.js"></script>
  </body>
</html>