@charset "utf-8";



@media (max-width: 992px){
	.btn.btn-outline-success.login{
		display:none;
	}

	.btn.btn-outline-success.register{
		display:none;
	}

}

@media (max-width: 576px){
	.btn.btn-secondary.ann{
		display:none;
	}
}

.input-group-prepend {
  margin-right: -1px;
	width: 38px;
}

/*=-footer-=*/
			footer {
				color: #E10581;
				background-attachment: fixed;
				background-color:#222;
				background-size: cover;
				background-position: bottom;
			}
			footer p {
				color: #ccc;				
			}
	   footer a {
				color: #ccc;				
			}
footer a:hover{
	color:#E10581;
	text-decoration: none;
}
			.social-pet li {
				display: inline-block;
				margin-right: 10px;
			}
			.social-pet li a {
				height: 35px;
				width: 35px;
				border-radius: 50%;
				text-align: center;
				display: block;
				line-height: 35px;
				background-color: #3a5a95;
				color: #fff;
			}
			.social-pet li:nth-child(2) a {
				background-color: #57aced;
			}
			.social-pet li:nth-child(3) a {
				background-color: #dd4f43;
			}
			.social-pet li:nth-child(4) a {
				background-color: #6b27b2;
			}
			.social-pet li a:hover {
				background-color: #0141a2;
			}
			.social-pet li a:hover i {
				transform: rotate(360deg);
				-moz-transform: rotate(360deg);
				-webkit-transform: rotate(360deg);
			}
			.recent-post li {
				display: block;
				color: #ccc;
				margin-bottom: 25px;
			}
			.recent-post li label {
				float: left;
				border: 2px solid #ccc;
				padding: 1px 7px;
				text-align: center;
			}
			.recent-post li label span {
				color: #fff;
			}
			footer .input-group-addon {
				background-color: #0141a2;
				padding: 10px;
			}
			.f-address li {
				display: inline-block;
			}
			.f-address li i {
				color: #2995de;
				font-size: 18px;
			}
			.f-address li a {
				color: #ccc;
			}
			/*=-Copyright-=*/
			.copyright {
				background-color: #111;
				padding: 12px 0;
        font-size:14px;
			}.col-lg-3.col-md-6.col-sm-6.mt-2.mb-4 .input-group #basic-addon2 {
	background-color: #E10581;
}
/*=-footer-= */


/* CARDS*/

.cardfront{
	
	margin-top: 20px;
}
.block {
	display: block;
	position: relative;
	width: 100%;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.product {
	display: block;
	position: relative;
	overflow: hidden;
	height: 250px;

}

.product img {
	/* IMG FIX*/
	width: 100%;
	height:250px;
    object-fit: cover;
	overflow:hidden;
}

.werbung img {
	width: 100%;
	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}


.info {
	display: block;
	position: relative;
	padding: 20px;
	padding-bottom: 10px
}

.details {
	border-top: 1px solid #e5e5e5;
	padding: 18px 20px;
}
/*
.buttons {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: rgba(255, 255, 255, .5);
	opacity: 0;
	-webkit-transition: opacity .25s ease-in;
	-ms-transition: opacity .25s ease-in;
	-moz-transition: opacity .25s ease-in;
	-o-transition: opacity .25s ease-in;
	transition: opacity .25s ease-in;
}*/

/*
.product:hover .buttons, .product:hover a {
	opacity: 1;
}
*/

.info::after {
	display: block;
	position: absolute;
	top: -8px;
	left: 23px;
	content: "";
	width: 15px;
	height: 15px;
	background: #fff;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.info h4 {
	position: relative;
	padding: 0 0 20px 0;
	margin: 0 0 20px 0;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 19px;
	line-height: 25px;
	color: #372f2b;
	letter-spacing: -1px;
}

.info h4::after {
	display: block;
	position: absolute;
	bottom: 0px;
	content: "";
	width: 40px;
	height: 2px;
	background: #E10581;
}

.info .description {
	padding-bottom: 20px;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #5f5f5f;
	display: -webkit-box;
	/* TEXT TRUNC BETA*/
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
     overflow: hidden;
	margin-bottom: 0.1rem;
}


.time {
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	font-weight: 700;
	color: #372f2b;
}

.mobile{
	font-weight: 700;
}





.row .col-lg-8.col-12 .row.row-first {
	margin-bottom: 1em;
}


.row .col-8 .row.top a {
    font-size: small;

}

.row.top .text-right.contacto.col-sm-8.col-8.col-xl-10 a {
    margin-top: 7px;
    display: inline-block;
	text-decoration: none;
}
.text-right.contacto.col-sm-8.col-8.col-xl-10 a .contacttext {
    margin-left: 5px;
}



/* Pagination */

.pagination .active a {
  color: #E10581;
  background-color: transparent;
  font-weight: 600;
}
.pagination .active a:hover {
  background-color: transparent;
  color: #E10581;
  border: 0px;
  text-decoration: none;
}
.pagination .active a:focus {
  background-color: transparent;
  color: #E10581;
  outline: none;
}
.pagination li a {
  border: 1px;
  margin-left: 0px;
  color: #707070;
  padding: 7px 2px;
  margin: 0px 20px;
}
.pagination li a:hover {
  background-color: transparent;
  color: #E10581;
  padding-bottom: 2px;
  text-decoration: none;
}
.pagination li a:focus {
  outline: none;
  background-color: transparent;
  /*color:#707070;*/
}
.pagination li:first-child a, .pagination li:last-child a {
  border: 2px solid #E10581 !important;
  border-radius: 6px;
  margin: 0px;
  padding: 6px 12px;
  border: 2px solid;
  font-size: 14px;
  color: #E10581;
}
.pagination li:first-child a:hover, .pagination li:last-child a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #E10581;
}
.pagination li:first-child a:focus, .pagination li:last-child a:focus {
  outline: none;
}

/*HEADER*/
@media (max-width: 768px){
	.btn.btn-outline-success.login{
		display:none;
	}
	.btn.btn-outline-success.register{
		display:none;
	}
}

@media (max-width: 576px){
	.btn.btn-secondary.ann{
		display:none;
	}
	.navbar{
	padding: 0.2rem 1rem !important;
}
}

/* NAVBAR*/


.navbar{
	padding: 0.2rem 0rem;
}

/*
  Relevant styles below
*//*
.topper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.navbar.navbar-inverse {
  background-image: linear-gradient(#9f9f9f, #535353 3%, #1f1f1f 17%, #212121 49%, #191919 89%, #000000 100%);
  border-top: 1px inset rgba(255, 255, 255, 0.1);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-top: 10px;
}

.navbar .navbar-nav > li > a {
  color: #d1d1d1;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  text-shadow: 0px -1px black, 0px 1px rgba(255, 255, 255, 0.25);
  line-height: 18px;
}

.navbar .navbar-nav > li.active {
  color: #f8f8f8;
  background-color: #080808;
  box-shadow: inset 0px -28px 23px -21px rgba(255, 255, 255, 0.15);
  border-left: 1px solid #2A2A2A;
  border-right: 1px solid #272727;
}

.btn.btn-gradient-blue {
  background-color: #0c5497 !important;
  background-image: -webkit-linear-gradient(top, #127bde 0%, #072d50 100%);
  background-image: -o-linear-gradient(top, #127bde 0%, #072d50 100%);
  background-image: linear-gradient(to bottom, #127bde 0%, #072d50 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff127bde', endColorstr='#ff072d50', GradientType=0);
  border-color: #072d50 #072d50 #0c5497;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(31, 31, 31, 0.29);
  -webkit-font-smoothing: antialiased;
}/*

/*
.navlinksn {
  display: block;
  text-align: center;
  color:#E10581;
  border-right: 1px solid #FFFFFF;
  
}

.navlinksn:hover, .navlinksn:focus {
  text-decoration: none;
  color:#FC7DC4;
}

.nav-linksn {
  display: block;
  padding: 1px;
  text-align: center;
  color:#E10581 !important;
  border-left: 1px solid #FFFFFF;
}

.last-item {
	border-right: 1px solid #FFFFFF;
}

.nav-linksn:hover, .nav-linksn:focus {
  text-decoration: none;
  color:#FC7DC4 !important;
}


.navbar-brand {
  display: inline-block;
  color:#222222;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.bg-dark {
  background-color: #222222 !important;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}*/

/* Filter */
.form-row.mx-auto h5 {
	color:#E10581!important;
}
.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  line-height: 1.5;
  color: #E10581;
}

.filter {
	background-color: #F5F5F5;
}

.header {
	background-color: #F5F5F5;
}

.col-1.my-1.filterbutton a{
	margin-top:40px;
}

/* manager menu*/

.menubox{
  background-color:#F9F9F9 !important;
  border: 1px solid #B1B1B1;
  border-radius: 3px;
  padding-bottom:10px;
  padding-top:10px;
}

.menubox h6{
	color:#616161;
 
}

/* BUTTONS*/
.btn {
 
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  border-radius: 3px;

}
.btn-lg {
  padding: 1em 2em;
}
.btn-sm, .btn-xs {
  font-size: 0.85em;
  padding: 0.5em 1em;
}
.btn-xs {
  font-size: 0.85em;
  padding: 0.25em 0.75em;
}
.btn-default {
  border-color: #d9d9d9;
  background-image: linear-gradient(#fff, #f2f2f2);
}
.btn-default:hover {
  background: linear-gradient(#f2f2f2, #e6e6e6);
}
.btn-primary {
  border-color: #2a6496;
  background-image: linear-gradient(#428bca, #357ebd);
}
.btn-primary:hover {
  background: linear-gradient(#357ebd, #3071a9);
}

.btn.btn-primary.managermenu {
  font-weight: 500;
  font-size: 12px;
  margin-top:5px;
  width:100%;
  color:#5C5C5C;
  border-bottom:1px solid #A4B2B8;
  border-radius: 3px;
  background-image: linear-gradient(#e1e6e8, #cdd5d8);
}
.btn.btn-primary.managermenu:hover {
  color:#fff;
  background: linear-gradient(#FA2B9F, #E10581);
}
.btn.btn-primary.managermenu.active{
  color:#fff;
  border-color: #AF0364;
  background-image: linear-gradient(#FA2B9F, #E10581);
}

.btn-secondary {
  border-color: #2a6496;
  border-bottom:2px solid #AF0364;
  border-radius: 3px;
  background-image: linear-gradient(#FA2B9F, #E10581);
}
.btn-secondary:hover {
  border-color: #2a6496;
  border-bottom:2px solid #AF0364;
  border-radius: 3px;
  background-image: linear-gradient(#E10581, #E10581);
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(225,5,129,1.00);
  color: #fff !important;
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-subscription {
  color:#606060;
  font-size: 12px;
  font-weight: 700;
  background-image: linear-gradient(#e1e6e8, #cdd5d8);
  border:1px solid #AEBBC1;
  border-radius: 3px;
  width: 100%;
  height: 100%;
}
.btn-subscription i{
	font-size:30px;
	margin-top: 10px;
}

.btn-subscription:hover {
  color:#fff;
  background: linear-gradient(#FA2B9F, #E10581);
  border:1px solid #E10581;
}
.btn-subscription:active{
  color:#fff;
  background: linear-gradient(#FA2B9F, #E10581);
  border:1px solid #E10581;
}
.btn-subscription.active.focus{
  box-shadow: none !important;
}

.btn-subscription:not(:disabled):not(.disabled):active, .btn-subscription:not(:disabled):not(.disabled).active,
.show > .btn-subscription.dropdown-toggle {
  color: #fff;
  background: linear-gradient(#FA2B9F, #E10581);
  border-color: #E10581;
}

.btn-subscription:input[type="radio"]:checked{
	color: #fff;
  background: linear-gradient(#FA2B9F, #E10581);
  border-color: #E10581;
}

.category{
	height:auto !important;
}

.btn-outline-success {
  color:#E10581;
  border-color: #E10581;
  border:1px solid #E10581;
}
.btn-outline-success:hover {
  background: linear-gradient(#FA2B9F, #E10581);
  border-color: #E10581;
}

.btn-outline-success:focus {
  box-shadow: none;
}
.btn-info {
  border-color: #28a1c5;
  background-image: linear-gradient(#5bc0de, #46b8da);
}
.btn-info:hover {
  background: linear-gradient(#46b8da, #31b0d5);
}
.btn-warning {
	color:#fff;
  border-color: #df8a13;
  background-image: linear-gradient(#f0ad4e, #eea236);
}
.btn-warning:hover {
	color:#fff;
  background: linear-gradient(#eea236, #ec971f);
}
.btn-danger {
  border-color: #b52b27;
  background-image: linear-gradient(#d9534f, #d43f3a);
}
.btn-danger:hover {
  background: linear-gradient(#d43f3a, #c9302c);
}

/* Services CB */

.servicesCB label{
	font-size: 11px!important;
	}

/* hide browseroptions for radio and checkboxes*/
.hidedefault input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.hidedefaultradio radio{
  position: absolute;
  cursor: default !important;
  opacity: 0;
  height: 0;
  width: 0;
}
/* Funky radio + custom radios */
.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  Font-size:12px;
  font-weight: 700;
  line-height: 2em;
  text-indent: 3.25em;
  margin-top: 1em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #E10581;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2713';
  text-indent: .9em;
  color: #000000;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #E10581;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2713';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #E10581;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}

.type{
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: default;
  font-size: 15px;
  font-weight: 600;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.inserat .card-header{
	font-weight: 700;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #E10581 !important;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(253,221,240,1.00);
}

.custom-control-input:active ~ .custom-control-label::before {
  color: #fff;
  background-color: #FDA9D8;
}

.custom-control-input:disabled ~ .custom-control-label {
  /*color: #6c757d;*/
  color: #000000 !important;
}

.custom-control-input:disabled ~ .custom-control-label::before {
  background-color: #e9ecef;
}

/*PROFILE*/
.infoinserat a{
	color:#E10581 !important;
}
.infoinserat a:hover{
	text-decoration:none;
	color:#FB4FB0 !important;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color:#6c757d;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #fff;
  border-color: #dee2e6 #dee2e6 #E10581;
  background-image: linear-gradient(#FA2B9F, #E10581);
}


/*
.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate; }
  .btn-group-justified .btn,
  .btn-group-justified .btn-group {
    float: none;
    display: table-cell;
    width: 1%; }
    .btn-group-justified .btn .btn,
    .btn-group-justified .btn-group .btn {
      width: 100%; }
    .btn-group-justified .btn .dropdown-menu,
    .btn-group-justified .btn-group .dropdown-menu {
      left: auto; }
*/


/*	--------------------------------------------------
	:: Table Filter Manager
	-------------------------------------------------- */
.panel {
	border: 1px solid #ddd;
	background-color: #fcfcfc;
}
/*.panel .btn-group {
	margin: 15px 0 30px;
}*/
.panel .btn-group .btn {
	transition: background-color .3s ease;
}
.table-filter {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}
.table-filter tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
}
.table-filter tbody tr.selected td {
	background-color: #eee;
}
.table-filter tr td:first-child {
	width: 38px;
}
.table-filter tr td:nth-child(2) {
	width: 35px;
}
.ckbox {
	position: relative;
}
.ckbox input[type="checkbox"] {
	opacity: 0;
}
.ckbox label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.ckbox label:before {
	content: '';
	top: 1px;
	left: 0;
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	border-radius: 2px;
	border: 1px solid #bbb;
	background-color: #fff;
}
.ckbox input[type="checkbox"]:checked + label:before {
	border-color: #2BBCDE;
	background-color: #2BBCDE;
}
.ckbox input[type="checkbox"]:checked + label:after {
	top: 3px;
	left: 3.5px;
	content: '\e013';
	color: #fff;
	font-size: 11px;
	font-family: 'Glyphicons Halflings';
	position: absolute;
}
.table-filter .star {
	color: #ccc;
	text-align: center;
	display: block;
}
.table-filter .star.star-checked {
	color: #F0AD4E;
}
.table-filter .star:hover {
	color: #ccc;
}
.table-filter .star.star-checked:hover {
	color: #F0AD4E;
}
.table-filter .media-photo {
	width: auto;
}
.table-filter .media-body {
    display: block;
    /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}
.table-filter .media-meta {
	font-size: 11px;
	color: #999;
}
.table-filter .media .title {
	color: #2BBCDE;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}
.table-filter .media .title span {
	font-size: .8em;
	margin-right: 20px;
}
.table-filter .media .title span.active {
	color: #5cb85c;
}
.table-filter .media .title span.hold {
	color: #f0ad4e;
}
.table-filter .media .title span.inactive {
	color: #d9534f;
}
.table-filter .media .summary {
	font-size: 14px;
}
